h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #202020;
}

#first-article {
  font-size: 40px;
}

.text-red {
  color: red;
}

.fs-small {
  font-size: 14px;
}

.fs-medium {
  font-size: 20px;
}

.fs-large {
  font-size: 30px;
}
